<footer>
  <div class="row">
    <div class="col-lg-4">
      <p>
        <a href="https://github.com/zazuko/lod.lobbywatch.ch" target="_blank" rel="noopener noreferrer">
          Source Code
        </a>
      </p>
    </div>
    <div class="col-lg-4">
      <p class="text-center">
        <a href="https://github.com/zazuko/trifid" target="_blank" rel="noopener noreferrer">
          ${t("meta:Powered by")} Trifid
        </a>
      </p>
    </div>
    <div class="col-lg-4">
      <p class="text-right">
        <a href="#top">${t("meta:Back to top")}</a></li>
      </p>
    </div>
  </div>
</footer>
