<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <svg style="float:left; margin-right: 10px" width="20" height="20" viewBox="0 0 74 74"><title>Lobbywatch Logo</title><g><circle fill="#74D7FF" cx="37" cy="37" r="37"></circle><circle fill="#1f2532" cx="37" cy="37" r="20"></circle><circle fill="#fff" cx="45" cy="29" r="5"></circle></g></svg>
        Lobbywatch.ch Linked Data
      </a>
    </div>
    ${(typeof i18n == 'undefined')?'':`
    <div class="nav navbar-nav navbar-right">
      ${
        (i18n.options.menuLng || i18n.options.preload || ["en"]).map(
          function (lng) {
            let act = (language===lng)?' class="active"':'';
            return `
              <li${act}>
                <a href="?${i18n.options.detection.lookupQuerystring}=${lng}">${t("meta:"+lng)}</a>
              </li>`;
          }
        ).join("")
      }
    </div>`}
  </div>
</nav>
